---
import Layout from "../layouts/layout.astro";
import { getUserProfile } from "../components/auth";
import { getProducts } from "../components/products";
import ProductsList from "../components/ProductsList.astro"
import type { IUser, IProduct, IProductsInfo } from "../interfaces";
const tokenCookie = Astro.cookies.get("astro-shop-token");
const token = Object.keys(tokenCookie).length !== 0 ? tokenCookie.value : null;

let user = undefined;
if (token) {
  user = await getUserProfile(token) as IUser;
}
// const products = await getUserProfile(token);
const productsInfo = (await getProducts()) as unknown as IProductsInfo;
const products: IProduct[] = productsInfo.data ? productsInfo.data : [];
---

<Layout title="Astro-shop: Main">
  <h1 style="text-align: center; color:brown">Products</h1>
  <ProductsList products={products} user={user} token={token}/>
  <!-- Products: {JSON.stringify(products, null, 4)} -->
</Layout>

<script is:inline src="/assets/js/my/products/addOneToCart.js"></script>

<script>
  const btnInfoAll = document.querySelectorAll(".btn-product-info") as NodeListOf<HTMLButtonElement>;;
  if (btnInfoAll.length > 0) {
    Array.from(btnInfoAll).forEach((btn) => {
      btn.addEventListener("click", function (e: Event) {
        if (e.target instanceof HTMLButtonElement) {
          window.location.href = e.target.dataset.url as string;
        }
      });
    });
  }

  const btnEditAll = document.querySelectorAll(".btn-product-edit") as NodeListOf<HTMLButtonElement>;;
  if (btnEditAll.length > 0) {
    Array.from(btnEditAll).forEach((btn) => {
      btn.addEventListener("click", function (e: Event) {
        if (e.target instanceof HTMLButtonElement) {
          window.location.href = e.target.dataset.url as string;
        }
      });
    });
  }

  const btnCartAll = document.querySelectorAll(
    ".btn-product-cart"
  ) as NodeListOf<HTMLButtonElement>;
  if (btnCartAll.length > 0) {
    Array.from(btnCartAll).forEach(addOneProductToCart);
  }
</script>
