---
const { title = "Astro-shop" } = Astro.props;
import Menu from "../components/menu.astro";
const tokenCookie = Astro.cookies.get("astro-shop-token");
const token = Object.keys(tokenCookie).length !== 0 ? tokenCookie.value : null;
---

<link rel="stylesheet" href="/assets/plugins/global/plugins.bundle.css" />
<link rel="stylesheet" href="/assets/css/style.bundle.css" />

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<body>
  <script defer is:inline src="/assets/js/my/api/api.js"></script>
  <script defer is:inline src="/assets/js/my/auth/logout.js"></script>
  <Menu token={token} />
  <slot />
  <script is:inline src="/assets/js/scripts.bundle.js"></script>
  <script is:inline src="/assets/plugins/global/plugins.bundle.js"></script>

</body>
