<!--begin::Menu-->
<div class="menu">
    <!--begin::Menu item-->
    <div class="menu-item">
        <a href="/" class="menu-link">
            <span class="menu-icon">
                <i class="bi bi-house fs-3"></i>
            </span>
            <span class="menu-title">Main</span>
        </a>
    </div>
    <!--end::Menu item-->

    <!--begin::Menu item-->
    <div class="menu-item">
        <a href="register" class="menu-link">
            <span class="menu-icon">
                <i class="bi bi-airplane-engines fs-3"></i>
            </span>
            <span class="menu-title">Registration</span>
        </a>
    </div>
    <!--end::Menu item-->

    <!--begin::Menu item-->
    <div class="menu-item">
        <a href="login" class="menu-link">
            <span class="menu-icon">
                <i class="bi bi-door-open fs-3"></i>
            </span>
            <span class="menu-title">Login</span>
        </a>
    </div>
    <!--end::Menu item-->
</div>
<!--end::Menu-->